@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for agenda timeline */
.agenda-scroll::-webkit-scrollbar {
    width: 6px;
}

.agenda-scroll::-webkit-scrollbar-track {
    background-color:#D9D9D9;
}

.agenda-scroll::-webkit-scrollbar-thumb {
    background-color: #005D67;
    border-radius: 10px;
}

.agenda-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
}